<div class="contact wow fadeInUp">
  <ul class="contact__list list-reset">
    {% if site.email %}
      <li class="contact__item"><a href="{{ site.email }}" class="contact__link"><ion-icon name="mail"></ion-icon></a></li>
    {% else %} {% endif %}

    {% if site.github %}
      <li class="contact__item"><a href="{{ site.github }}" class="contact__link"><ion-icon name="logo-github"></ion-icon></a></li>
    {% else %} {% endif %}
  
    {% if site.linkedin %}
      <li class="contact__item"><a href="{{ site.linkedin }}" class="contact__link"><ion-icon name="logo-linkedin"></ion-icon></a></li>
    {% else %} {% endif %}
  
    {% if site.google %}
      <li class="contact__item"><a href="{{ site.google }}" class="contact__link"><ion-icon name="logo-google"></ion-icon></a></li>
    {% else %} {% endif %}
  
  </ul>
</div>